In [1]:
import sqlite3
import numpy as np
import pandas as pd
from typing import Dict, Optional, Tuple
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error
from xgboost import XGBRegressor

import multiprocessing
from multiprocessing.dummy import Pool as ThreadPool
from itertools import product

In [2]:
# Connect to database
conn = sqlite3.connect('rossmann.db')
cursor = conn.cursor()

# Print table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('rossmann',)]

In [3]:
# Assign 'rossmann' table to Pandas DataFrame
sql = "SELECT * FROM rossmann"
df = pd.read_sql(sql, conn)

In [4]:
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values(["Store", "Date"])

In [5]:
df['CompetitionDistance'] = df['CompetitionDistance'].fillna(df['CompetitionDistance'].median())
df = df.drop(columns=['CompetitionOpenSinceMonth', 'Promo2SinceWeek', 'SchoolHoliday'])

In [6]:
df[['CompetitionOpenSinceYear', 'Promo2SinceYear']] = df[['CompetitionOpenSinceYear', 'Promo2SinceYear']].fillna(0, axis=1)
df['PromoInterval'] = df['PromoInterval'].fillna('Unknown')

In [7]:
from sklearn.preprocessing import MinMaxScaler

cols_to_scale = [
    "CompetitionDistance",
    # "CompetitionOpenSinceMonth",
    "CompetitionOpenSinceYear",
    # "Promo2SinceWeek",
    "Promo2SinceYear",
    "Customers"
]

scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [8]:
# ============================================================
# 2. FIXED ONE-HOT ENCODING (NOT DYNAMIC)
# ============================================================
onehot_cols = [
    "StoreType", 
    "PromoInterval",
    "Assortment",
    "DayOfWeek"
]

prefix_map = {
    "StoreType": "StoreType_",
    "PromoInterval": "PromoInterval_",
    "Assortment": "Assortment_",
    "DayOfWeek": "DayOfWeek_"
}

for col in onehot_cols:
    if col in df.columns:
        df = pd.concat([
            df,
            pd.get_dummies(df[col], prefix=prefix_map[col], dtype=int)
        ], axis=1)

df = df.drop(columns=[c for c in onehot_cols if c in df.columns])


# ============================================================
# 3. GLOBAL CONFIG
# ============================================================
DEFAULT_STEPS = 54
DEFAULT_MIN_LEN = 60
LAGS = (1, 7, 14, 28)

onehot_prefixes = ("StoreType_", "PromoInterval_", "Assortment_", "DayOfWeek_")

In [9]:
df.head()

,index,Store,Date,Sales,Customers,Open,Promo,StateHoliday,CompetitionDistance,CompetitionOpenSinceYear,...,Assortment__a,Assortment__b,Assortment__c,DayOfWeek__1,DayOfWeek__2,DayOfWeek__3,DayOfWeek__4,DayOfWeek__5,DayOfWeek__6,DayOfWeek__7
1016095,1016095,1,2013-01-01,0,0.000000,0,0,a,0.016482,0.996526,...,1,0,0,0,1,0,0,0,0,0
1014980,1014980,1,2013-01-02,5530,0.090417,1,0,0,0.016482,0.996526,...,1,0,0,0,0,1,0,0,0,0
1013865,1013865,1,2013-01-03,4327,0.078235,1,0,0,0.016482,0.996526,...,1,0,0,0,0,0,1,0,0,0
1012750,1012750,1,2013-01-04,4486,0.083785,1,0,0,0.016482,0.996526,...,1,0,0,0,0,0,0,1,0,0
1011635,1011635,1,2013-01-05,4997,0.085950,1,0,0,0.016482,0.996526,...,1,0,0,0,0,0,0,0,1,0

In [10]:
# ============================================================
# 4. METRIC FUNCTIONS
# ============================================================
def _safe_rmse(y, yhat):
    return float(np.sqrt(mean_squared_error(y, yhat)))

def _mape(y, yhat):
    y = np.asarray(y, dtype=float)
    yhat = np.asarray(yhat, dtype=float)
    mask = y != 0
    return float(np.mean(np.abs((yhat[mask] - y[mask]) / y[mask])))

def _tae(y, yhat):
    y = np.asarray(y, dtype=float)
    yhat = np.asarray(yhat, dtype=float)
    mask = y != 0
    return float(np.abs((yhat[mask].sum() - y[mask].sum())))

In [11]:

# ============================================================
# 5. FEATURE BUILDER (EXACT SAME AS SARIMAX NOTEBOOK)
# ============================================================
def _make_features(
    work: pd.DataFrame,
    target_col: str = "Sales",
    lags=LAGS,
):
    df = work.copy()
    df = df.set_index("Date").sort_index()
    # print(df.head())

    lag_cols = []
    for lag in lags:
        col = f"{target_col}_lag{lag}"
        df[col] = df[target_col].shift(lag)
        lag_cols.append(col)
    # print(df.head())

    df["dow"] = df.index.dayofweek
    df["month"] = df.index.month
    df["year"] = df.index.year
    df["weekofyear"] = df.index.isocalendar().week.astype(int)
    date_cols = ["dow", "month", "year", "weekofyear"]

    onehot = [c for c in df.columns if c.startswith(onehot_prefixes)]
    binary = [c for c in ["Open", "Promo", "SchoolHoliday", "Promo2"] if c in df.columns]
    cont = [
        c for c in [
            "Sales","CompetitionDistance",
            "CompetitionOpenSinceMonth","CompetitionOpenSinceYear",
            "Promo2SinceWeek","Promo2SinceYear"
        ] if c in df.columns
    ]

    feature_cols = onehot + binary + cont + lag_cols + date_cols
    feature_cols = [c for c in feature_cols if c != target_col]

    X = df[feature_cols]
    y = df[target_col]
    # print(X.head())
    

    mask = X.notna().all(axis=1) & y.notna()
    print(y[mask].head())
    return X[mask], y[mask]

In [12]:

# ============================================================
# 6. GPU GRID SEARCH (single store)
# ============================================================
def grid_search_xgb_gpu(
    work: pd.DataFrame,
    param_grid: Dict[str, list],
    steps: int = DEFAULT_STEPS,
    min_len: int = DEFAULT_MIN_LEN,
    metric: str = "rmse",
):
    X, y = _make_features(work)
    print(y.head())

    if len(y) <= steps + min_len:
        print("not enough rows")
        print(len(y))
        print(steps)
        return None

    split_idx = len(y) - steps
    X_train, X_test = X.iloc[:split_idx], X.iloc[split_idx:]
    y_train, y_test = y.iloc[:split_idx], y.iloc[split_idx:]

    keys = list(param_grid.keys())
    combos = list(product(*[param_grid[k] for k in keys]))

    best_score = np.inf
    best_params = None
    best_model = None
    best_forecast = None
    best_metrics = None

    for combo in combos:
        params = dict(zip(keys, combo))

        params["objective"] = "reg:squarederror"
        # params["tree_method"] = "gpu_hist"
        # params["predictor"] = "gpu_predictor"

        model = XGBRegressor(**params)
        model.fit(X_train, y_train)

        yhat = model.predict(X_test)

        metrics = {
            "mae": float(mean_absolute_error(y_test, yhat)),
            "rmse": _safe_rmse(y_test, yhat),
            "mape": _mape(y_test, yhat),
            "tae": _tae(y_test, yhat),
        }

        score = metrics[metric]

        if score < best_score:
            best_score = score
            best_params = params
            best_model = model
            best_metrics = metrics
            best_forecast = pd.DataFrame(
                {"y_true": y_test.values, "y_pred": yhat},
                index=y_test.index,
            )

    return {
        "best_params": best_params,
        "best_metrics": best_metrics,
        "best_model": best_model,
        "best_forecast": best_forecast,
    }

In [13]:
# ============================================================
# 7. FIND GLOBAL BEST PARAMS ON ONE SELECTED STORE
# ============================================================
TARGET_STORE = 1

param_grid = {
    "max_depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1],
    "n_estimators": [300, 500],
    "subsample": [0.8, 1.0],
    "colsample_bytree": [0.8, 1.0],
}

df_target = df[df["Store"] == TARGET_STORE]
df_target.head()

,index,Store,Date,Sales,Customers,Open,Promo,StateHoliday,CompetitionDistance,CompetitionOpenSinceYear,...,Assortment__a,Assortment__b,Assortment__c,DayOfWeek__1,DayOfWeek__2,DayOfWeek__3,DayOfWeek__4,DayOfWeek__5,DayOfWeek__6,DayOfWeek__7
1016095,1016095,1,2013-01-01,0,0.000000,0,0,a,0.016482,0.996526,...,1,0,0,0,1,0,0,0,0,0
1014980,1014980,1,2013-01-02,5530,0.090417,1,0,0,0.016482,0.996526,...,1,0,0,0,0,1,0,0,0,0
1013865,1013865,1,2013-01-03,4327,0.078235,1,0,0,0.016482,0.996526,...,1,0,0,0,0,0,1,0,0,0
1012750,1012750,1,2013-01-04,4486,0.083785,1,0,0,0.016482,0.996526,...,1,0,0,0,0,0,0,1,0,0
1011635,1011635,1,2013-01-05,4997,0.085950,1,0,0,0.016482,0.996526,...,1,0,0,0,0,0,0,0,1,0

In [14]:
best = grid_search_xgb_gpu(df_target, param_grid)
best_params = best["best_params"]

print("Best Params Found on Store", TARGET_STORE, ":\n", best_params)

Date
2013-01-29    3725
2013-01-30    4601
2013-01-31    4709
2013-02-01    5633
2013-02-02    5970
Name: Sales, dtype: int64
Date
2013-01-29    3725
2013-01-30    4601
2013-01-31    4709
2013-02-01    5633
2013-02-02    5970
Name: Sales, dtype: int64
Best Params Found on Store 1 :
 {'max_depth': 4, 'learning_rate': 0.05, 'n_estimators': 300, 'subsample': 1.0, 'colsample_bytree': 0.8, 'objective': 'reg:squarederror'}

In [15]:
# ============================================================
# 8. TRAIN ALL STORES USING THE GLOBAL BEST PARAMS (GPU)
# ============================================================
def fit_store_xgb(work, steps, min_len, xgb_kwargs):
    X, y = _make_features(work)
    if len(y) <= steps + min_len:
        return None

    split_idx = len(y) - steps
    X_train, X_test = X.iloc[:split_idx], X.iloc[split_idx:]
    y_train,  y_test = y.iloc[:split_idx], y.iloc[split_idx:]

    model = XGBRegressor(**xgb_kwargs)
    model.fit(X_train, y_train)

    yhat = model.predict(X_test)

    metrics = {
        "mae": float(mean_absolute_error(y_test, yhat)),
        "rmse": _safe_rmse(y_test, yhat),
        "mape": _mape(y_test, yhat),
        "tae": _tae(y_test, yhat),
    }

    forecast = pd.DataFrame(
        {"y_true": y_test.values, "y_pred": yhat},
        index=y_test.index,
    )

    return {"model": model, "metrics": metrics, "forecast": forecast}


def run_store_xgb(
    store_id, df_all, best_params, steps=DEFAULT_STEPS, min_len=DEFAULT_MIN_LEN
):
    df_store = df_all[df_all["Store"] == store_id].copy()

    params = best_params.copy()
    params["objective"] = "reg:squarederror"
    # params["tree_method"] = "gpu_hist"
    # params["predictor"] = "gpu_predictor"

    out = fit_store_xgb(df_store, steps, min_len, params)

    if out is None:
        return (store_id, None, None)
    return (store_id, out["metrics"], out["forecast"])

In [16]:
stores = df["Store"].unique()
n_threads = multiprocessing.cpu_count()

args = [(s, df, best_params, DEFAULT_STEPS, DEFAULT_MIN_LEN) for s in stores]

with ThreadPool(n_threads) as pool:
    results = pool.starmap(run_store_xgb, args)

Date
2013-01-29    3725
2013-01-30    4601
2013-01-31    4709
2013-02-01    5633
2013-02-02    5970
Name: Sales, dtype: int64
Date
2013-01-29    12178
2013-01-30    11494
2013-01-31    13414
2013-02-01    14160
2013-02-02    10489
Name: Sales, dtype: int64
Date
2013-01-29    7195
2013-01-30    7943
2013-01-31    8376
2013-02-01    8734
2013-02-02    9677
Name: Sales, dtype: int64
Date
2013-01-29    6562
2013-01-30    6586
2013-01-31    7404
2013-02-01    8772
2013-02-02    7167
Name: Sales, dtype: int64
Date
2013-01-29    3863
2013-01-30    4176
2013-01-31    5767
2013-02-01    5126
2013-02-02    3055
Name: Sales, dtype: int64
Date
2013-01-29    5110
2013-01-30    5217
2013-01-31    7850
2013-02-01    7450
2013-02-02    6505
Name: Sales, dtype: int64
Date
2013-01-29    8721
2013-01-30    8299
2013-01-31    9023
2013-02-01    9986
2013-02-02    5706
Name: Sales, dtype: int64
Date
2013-01-29    3708
2013-01-30    4044
2013-01-31    5146
2013-02-01    4840
2013-02-02    4533
Name: Sales, dtype: int64
Date
2013-01-29    3381
2013-01-30    3771
2013-01-31    4619
2013-02-01    4048
2013-02-02    1624
Name: Sales, dtype: int64
Date
2013-01-29    3272
2013-01-30    4106
2013-01-31    3962
2013-02-01    4785
2013-02-02    3688
Name: Sales, dtype: int64
Date
2013-01-29    5544
2013-01-30    5329
2013-01-31    6923
2013-02-01    6988
2013-02-02    7067
Name: Sales, dtype: int64
Date
2013-01-29    4490
2013-01-30    5090
2013-01-31    6234
2013-02-01    7182
2013-02-02    9759
Name: Sales, dtype: int64
Date
2013-01-29    5740
2013-01-30    5477
2013-01-31    6934
2013-02-01    7812
2013-02-02    9292
Name: Sales, dtype: int64
Date
2013-01-29    3461
2013-01-30    4446
2013-01-31    4340
2013-02-01    4545
2013-02-02    2956
Name: Sales, dtype: int64
Date
2013-01-29    2941
2013-01-30    3426
2013-01-31    3743
2013-02-01    3806
2013-02-02    2603
Name: Sales, dtype: int64
Date
2013-01-29    3536
2013-01-30    4025
2013-01-31    4423
2013-02-01    5086
2013-02-02    3747
Name: Sales, dtype: int64
Date
2013-01-29    6694
2013-01-30    7441
2013-01-31    8426
2013-02-01    9195
2013-02-02    6763
Name: Sales, dtype: int64
Date
2013-01-29     6449
2013-01-30     8202
2013-01-31     8792
2013-02-01     9417
2013-02-02    10309
Name: Sales, dtype: int64
Date
2013-01-29    3642
2013-01-30    3518
2013-01-31    5925
2013-02-01    5300
2013-02-02    5597
Name: Sales, dtype: int64
Date
2013-01-29    4097
2013-01-30    3120
2013-01-31    4080
2013-02-01    4161
2013-02-02    2354
Name: Sales, dtype: int64
Date
2013-01-29    5375
2013-01-30    4920
2013-01-31    5682
2013-02-01    6725
2013-02-02    5155
Name: Sales, dtype: int64
Date
2013-01-29    3681
2013-01-30    4235
2013-01-31    4827
2013-02-01    4852
2013-02-02    6742
Name: Sales, dtype: int64
Date
2013-01-29    4747
2013-01-30    5248
2013-01-31    5837
2013-02-01    6343
2013-02-02    6796
Name: Sales, dtype: int64
Date
2013-01-29    6197
2013-01-30    6408
2013-01-31    7797
2013-02-01    8246
2013-02-02    7703
Name: Sales, dtype: int64
Date
2013-01-29    4467
2013-01-30    4918
2013-01-31    6740
2013-02-01    5852
2013-02-02    7706
Name: Sales, dtype: int64
Date
2013-01-29    4799
2013-01-30    4540
2013-01-31    5856
2013-02-01    6469
2013-02-02    5862
Name: Sales, dtype: int64
Date
2013-01-29    4288
2013-01-30    4716
2013-01-31    6569
2013-02-01    6393
2013-02-02    5529
Name: Sales, dtype: int64
Date
2013-01-29     7559
2013-01-30     7601
2013-01-31    10359
2013-02-01     9332
2013-02-02    11123
Name: Sales, dtype: int64
Date
2013-01-29    5737
2013-01-30    6528
2013-01-31    7126
2013-02-01    7641
2013-02-02    6102
Name: Sales, dtype: int64
Date
2013-01-29    3496
2013-01-30    3870
2013-01-31    4551
2013-02-01    5089
2013-02-02    4975
Name: Sales, dtype: int64
Date
2013-01-29    2857
2013-01-30    3812
2013-01-31    4616
2013-02-01    3685
2013-02-02    2646
Name: Sales, dtype: int64
Date
2013-01-29     5993
2013-01-30     6042
2013-01-31     8259
2013-02-01     9299
2013-02-02    10946
Name: Sales, dtype: int64
Date
2013-01-29    4711
2013-01-30    5172
2013-01-31    6786
2013-02-01    6981
2013-02-02    7541
Name: Sales, dtype: int64
Date
2013-01-29    3442
2013-01-30    3577
2013-01-31    4214
2013-02-01    4585
2013-02-02    2845
Name: Sales, dtype: int64
Date
2013-01-29    4330
2013-01-30    5092
2013-01-31    4888
2013-02-01    6325
2013-02-02    5708
Name: Sales, dtype: int64
Date
2013-01-29    5198
2013-01-30    6411
2013-01-31    6159
2013-02-01    5916
2013-02-02    7861
Name: Sales, dtype: int64
Date
2013-01-29    4121
2013-01-30    5944
2013-01-31    6839
2013-02-01    4194
2013-02-02    6411
Name: Sales, dtype: int64
Date
2013-01-29     7181
2013-01-30     9031
2013-01-31    10431
2013-02-01     7175
2013-02-02     6781
Name: Sales, dtype: int64
Date
2013-01-29    3569
2013-01-30    4273
2013-01-31    4392
2013-02-01    4241
2013-02-02    1757
Name: Sales, dtype: int64
Date
2013-01-29    3423
2013-01-30    3747
2013-01-31    5345
2013-02-01    3703
2013-02-02    5922
Name: Sales, dtype: int64
Date
2013-01-29    4526
2013-01-30    4571
2013-01-31    6056
2013-02-01    5187
2013-02-02    3561
Name: Sales, dtype: int64
Date
2013-01-29    4639
2013-01-30    4980
2013-01-31    5234
2013-02-01    5276
2013-02-02    6542
Name: Sales, dtype: int64
Date
2013-01-29    14996
2013-01-30    15501
2013-01-31    17508
2013-02-01    18271
2013-02-02    21035
Name: Sales, dtype: int64
Date
2013-01-29    6220
2013-01-30    6006
2013-01-31    7844
2013-02-01    8096
2013-02-02    7694
Name: Sales, dtype: int64
Date
2013-01-29    5411
2013-01-30    5751
2013-01-31    6458
2013-02-01    6601
2013-02-02    3927
Name: Sales, dtype: int64
Date
2013-01-29    4499
2013-01-30    5416
2013-01-31    6382
2013-02-01    6549
2013-02-02    6372
Name: Sales, dtype: int64
Date
2013-01-29    4922
2013-01-30    6169
2013-01-31    9249
2013-02-01    5651
2013-02-02    7171
Name: Sales, dtype: int64
Date
2013-01-29    2400
2013-01-30    3115
2013-01-31    3853
2013-02-01    4405
2013-02-02    4050
Name: Sales, dtype: int64
Date
2013-01-29    3662
2013-01-30    3737
2013-01-31    3931
2013-02-01    4264
2013-02-02    5289
Name: Sales, dtype: int64
Date
2013-01-29    5369
2013-01-30    5233
2013-01-31    5783
2013-02-01    5925
2013-02-02    7197
Name: Sales, dtype: int64
Date
2013-01-29     8387
2013-01-30     9331
2013-01-31    11166
2013-02-01     9408
2013-02-02    10026
Name: Sales, dtype: int64
Date
2013-01-29    4293
2013-01-30    4943
2013-01-31    6595
2013-02-01    6082
2013-02-02    8772
Name: Sales, dtype: int64
Date
2013-01-29    3332
2013-01-30    2975
2013-01-31    4781
2013-02-01    4701
2013-02-02    4237
Name: Sales, dtype: int64
Date
2013-01-29    6480
2013-01-30    5401
2013-01-31    7072
2013-02-01    8721
2013-02-02    5752
Name: Sales, dtype: int64
Date
2013-01-29    5183
2013-01-30    5759
2013-01-31    7351
2013-02-01    7695
2013-02-02    8788
Name: Sales, dtype: int64
Date
2013-01-29     6762
2013-01-30     8133
2013-01-31     9971
2013-02-01    10150
2013-02-02     7479
Name: Sales, dtype: int64
Date
2013-01-29    2861
2013-01-30    4008
2013-01-31    3761
2013-02-01    3659
2013-02-02    2299
Name: Sales, dtype: int64
Date
2013-01-29    4391
2013-01-30    6072
2013-01-31    6613
2013-02-01    7284
2013-02-02    8350
Name: Sales, dtype: int64
Date
2013-01-29    3247
2013-01-30    3985
2013-01-31    5376
2013-02-01    4702
2013-02-02    4751
Name: Sales, dtype: int64
Date
2013-01-29    2573
2013-01-30    2933
2013-01-31    3346
2013-02-01    3776
2013-02-02    3119
Name: Sales, dtype: int64
Date
2013-01-29    4296
2013-01-30    5118
2013-01-31    5214
2013-02-01    4764
2013-02-02    3099
Name: Sales, dtype: int64
Date
2013-01-29    6685
2013-01-30    7363
2013-01-31    8862
2013-02-01    8548
2013-02-02    7767
Name: Sales, dtype: int64
Date
2013-01-29    3846
2013-01-30    3638
2013-01-31    5680
2013-02-01    4406
2013-02-02    2399
Name: Sales, dtype: int64
Date
2013-01-29    5251
2013-01-30    5959
2013-01-31    6696
2013-02-01    7289
2013-02-02    5289
Name: Sales, dtype: int64
Date
2013-01-29    4578
2013-01-30    5853
2013-01-31    6443
2013-02-01    6550
2013-02-02    5440
Name: Sales, dtype: int64
Date
2013-01-29    1644
2013-01-30    1730
2013-01-31    2133
2013-02-01    2868
2013-02-02    3519
Name: Sales, dtype: int64
Date
2013-01-29    4163
2013-01-30    3756
2013-01-31    3954
2013-02-01    4334
2013-02-02    5650
Name: Sales, dtype: int64
Date
2013-01-29    4170
2013-01-30    3877
2013-01-31    4318
2013-02-01    4475
2013-02-02    4604
Name: Sales, dtype: int64
Date
2013-01-29    2388
2013-01-30    2516
2013-01-31    2792
2013-02-01    2778
2013-02-02    1957
Name: Sales, dtype: int64
Date
2013-01-29    4175
2013-01-30    4966
2013-01-31    4703
2013-02-01    4920
2013-02-02    3832
Name: Sales, dtype: int64
Date
2013-01-29    3941
2013-01-30    4341
2013-01-31    5098
2013-02-01    5610
2013-02-02    5862
Name: Sales, dtype: int64
Date
2013-01-29    3594
2013-01-30    3905
2013-01-31    4506
2013-02-01    4827
2013-02-02    3851
Name: Sales, dtype: int64
Date
2013-01-29    4567
2013-01-30    5547
2013-01-31    5889
2013-02-01    7333
2013-02-02    6095
Name: Sales, dtype: int64
Date
2013-01-29    4716
2013-01-30    4812
2013-01-31    4882
2013-02-01    6437
2013-02-02    7677
Name: Sales, dtype: int64
Date
2013-01-29    4459
2013-01-30    5238
2013-01-31    7065
2013-02-01    5480
2013-02-02    7198
Name: Sales, dtype: int64
Date
2013-01-29    4905
2013-01-30    4758
2013-01-31    6360
2013-02-01    6942
2013-02-02    9064
Name: Sales, dtype: int64
Date
2013-01-29    3976
2013-01-30    3697
2013-01-31    4686
2013-02-01    4008
2013-02-02    3735
Name: Sales, dtype: int64
Date
2013-01-29    5189
2013-01-30    5748
2013-01-31    6851
2013-02-01    7440
2013-02-02    7350
Name: Sales, dtype: int64
Date
2013-01-29    4374
2013-01-30    3986
2013-01-31    4867
2013-02-01    4470
2013-02-02    4357
Name: Sales, dtype: int64
Date
2013-01-29    3264
2013-01-30    4377
2013-01-31    5259
2013-02-01    5912
2013-02-02    6119
Name: Sales, dtype: int64
Date
2013-01-29    2380
2013-01-30    3130
2013-01-31    3028
2013-02-01    3085
2013-02-02    4111
Name: Sales, dtype: int64
Date
2013-01-29    4967
2013-01-30    5383
2013-01-31    5877
2013-02-01    6725
2013-02-02    4362
Name: Sales, dtype: int64
Date
2013-01-29    6528
2013-01-30    6711
2013-01-31    7458
2013-02-01    7499
2013-02-02    6228
Name: Sales, dtype: int64
Date
2013-01-29    4528
2013-01-30    5524
2013-01-31    6272
2013-02-01    6110
2013-02-02    8446
Name: Sales, dtype: int64
Date
2013-01-29     8407
2013-01-30     7424
2013-01-31     8754
2013-02-01    10058
2013-02-02    11521
Name: Sales, dtype: int64
Date
2013-01-29    5957
2013-01-30    6389
2013-01-31    7352
2013-02-01    9281
2013-02-02    7064
Name: Sales, dtype: int64
Date
2013-01-29    3929
2013-01-30    4123
2013-01-31    4502
2013-02-01    6140
2013-02-02    4749
Name: Sales, dtype: int64
Date
2013-01-29    3380
2013-01-30    3806
2013-01-31    3990
2013-02-01    4043
2013-02-02    5527
Name: Sales, dtype: int64
Date
2013-01-29    5174
2013-01-30    4245
2013-01-31    5633
2013-02-01    6457
2013-02-02    4741
Name: Sales, dtype: int64
Date
2013-01-29    3791
2013-01-30    4484
2013-01-31    4806
2013-02-01    4906
2013-02-02    3125
Name: Sales, dtype: int64
Date
2013-01-29    2724
2013-01-30    3510
2013-01-31    3767
2013-02-01    3855
2013-02-02    2539
Name: Sales, dtype: int64
Date
2013-01-29    6109
2013-01-30    6110
2013-01-31    8474
2013-02-01    8583
2013-02-02    5798
Name: Sales, dtype: int64
Date
2013-01-29    4182
2013-01-30    4186
2013-01-31    5481
2013-02-01    5093
2013-02-02    3532
Name: Sales, dtype: int64
Date
2013-01-29    5424
2013-01-30    4555
2013-01-31    5732
2013-02-01    6064
2013-02-02    6893
Name: Sales, dtype: int64
Date
2013-01-29    5720
2013-01-30    5128
2013-01-31    7493
2013-02-01    6451
2013-02-02    3629
Name: Sales, dtype: int64
Date
2013-01-29    5695
2013-01-30    5483
2013-01-31    7335
2013-02-01    6963
2013-02-02    6026
Name: Sales, dtype: int64
Date
2013-01-29    2905
2013-01-30    3807
2013-01-31    5353
2013-02-01    4043
2013-02-02    4953
Name: Sales, dtype: int64
Date
2013-01-29    5811
2013-01-30    6262
2013-01-31    6878
2013-02-01    6429
2013-02-02    5106
Name: Sales, dtype: int64
Date
2013-01-29    4358
2013-01-30    5289
2013-01-31    6124
2013-02-01    6272
2013-02-02    7061
Name: Sales, dtype: int64
Date
2013-01-29    2987
2013-01-30    3534
2013-01-31    3519
2013-02-01    3273
2013-02-02    3298
Name: Sales, dtype: int64
Date
2013-01-29    2928
2013-01-30    3925
2013-01-31    5789
2013-02-01    3239
2013-02-02    4105
Name: Sales, dtype: int64
Date
2013-01-29    4386
2013-01-30    4842
2013-01-31    6080
2013-02-01    6820
2013-02-02    5449
Name: Sales, dtype: int64
Date
2013-01-29    4124
2013-01-30    4549
2013-01-31    4838
2013-02-01    5702
2013-02-02    5034
Name: Sales, dtype: int64
Date
2013-01-29    3583
2013-01-30    3412
2013-01-31    3345
2013-02-01    4284
2013-02-02    3654
Name: Sales, dtype: int64
Date
2013-01-29    6943
2013-01-30    7373
2013-01-31    8181
2013-02-01    9197
2013-02-02    7804
Name: Sales, dtype: int64
Date
2013-01-29    6202
2013-01-30    6325
2013-01-31    6283
2013-02-01    7858
2013-02-02    7280
Name: Sales, dtype: int64
Date
2013-01-29    4720
2013-01-30    4293
2013-01-31    4693
2013-02-01    5464
2013-02-02    5033
Name: Sales, dtype: int64
Date
2013-01-29    3241
2013-01-30    4282
2013-01-31    4642
2013-02-01    4455
2013-02-02    5123
Name: Sales, dtype: int64
Date
2013-01-29    0
2013-01-30    0
2013-01-31    0
2013-02-01    0
2013-02-02    0
Name: Sales, dtype: int64
Date
2013-01-29    4182
2013-01-30    4925
2013-01-31    5363
2013-02-01    5998
2013-02-02    3192
Name: Sales, dtype: int64
Date
2013-01-29     9017
2013-01-30    10443
2013-01-31    11650
2013-02-01    11412
2013-02-02    11062
Name: Sales, dtype: int64
Date
2013-01-29    4320
2013-01-30    4631
2013-01-31    5093
2013-02-01    6448
2013-02-02    8167
Name: Sales, dtype: int64
Date
2013-01-29    5152
2013-01-30    6208
2013-01-31    6203
2013-02-01    5939
2013-02-02    6253
Name: Sales, dtype: int64
Date
2013-01-29    4483
2013-01-30    4513
2013-01-31    4810
2013-02-01    5852
2013-02-02    7195
Name: Sales, dtype: int64
Date
2013-01-29    5739
2013-01-30    5705
2013-01-31    6689
2013-02-01    6582
2013-02-02    6881
Name: Sales, dtype: int64
Date
2013-01-29    3477
2013-01-30    3691
2013-01-31    5105
2013-02-01    5073
2013-02-02    3542
Name: Sales, dtype: int64
Date
2013-01-29    4383
2013-01-30    5497
2013-01-31    5590
2013-02-01    6631
2013-02-02    6053
Name: Sales, dtype: int64
Date
2013-01-29    5100
2013-01-30    5050
2013-01-31    6358
2013-02-01    5967
2013-02-02    6180
Name: Sales, dtype: int64
Date
2013-01-29    5688
2013-01-30    5587
2013-01-31    6340
2013-02-01    6535
2013-02-02    6509
Name: Sales, dtype: int64
Date
2013-01-29    2457
2013-01-30    3053
2013-01-31    3713
2013-02-01    3817
2013-02-02    4286
Name: Sales, dtype: int64
Date
2013-01-29    4847
2013-01-30    6896
2013-01-31    6936
2013-02-01    5489
2013-02-02    9612
Name: Sales, dtype: int64
Date
2013-01-29    5295
2013-01-30    4735
2013-01-31    7396
2013-02-01    6179
2013-02-02    3083
Name: Sales, dtype: int64
Date
2013-01-29    3808
2013-01-30    3922
2013-01-31    4133
2013-02-01    4866
2013-02-02    2096
Name: Sales, dtype: int64
Date
2013-01-29    7260
2013-01-30    6903
2013-01-31    8558
2013-02-01    7861
2013-02-02    7503
Name: Sales, dtype: int64
Date
2013-01-29    2556
2013-01-30    3441
2013-01-31    3881
2013-02-01    3642
2013-02-02    3674
Name: Sales, dtype: int64
Date
2013-01-29     8839
2013-01-30     7906
2013-01-31     9748
2013-02-01    11147
2013-02-02     8456
Name: Sales, dtype: int64
Date
2013-01-29    5448
2013-01-30    5501
2013-01-31    6137
2013-02-01    6226
2013-02-02    4833
Name: Sales, dtype: int64
Date
2013-01-29    4073
2013-01-30    4853
2013-01-31    5002
2013-02-01    5912
2013-02-02    7291
Name: Sales, dtype: int64
Date
2013-01-29    3528
2013-01-30    4608
2013-01-31    4111
2013-02-01    5352
2013-02-02    7754
Name: Sales, dtype: int64
Date
2013-01-29    3739
2013-01-30    4256
2013-01-31    4909
2013-02-01    5470
2013-02-02    5954
Name: Sales, dtype: int64
Date
2013-01-29    7636
2013-01-30    7794
2013-01-31    8495
2013-02-01    8653
2013-02-02    8453
Name: Sales, dtype: int64
Date
2013-01-29    15451
2013-01-30    16092
2013-01-31    19405
2013-02-01    20744
2013-02-02    18423
Name: Sales, dtype: int64
Date
2013-01-29    4168
2013-01-30    5020
2013-01-31    4822
2013-02-01    5453
2013-02-02    3908
Name: Sales, dtype: int64
Date
2013-01-29    4810
2013-01-30    3955
2013-01-31    6344
2013-02-01    5781
2013-02-02    3156
Name: Sales, dtype: int64
Date
2013-01-29    4646
2013-01-30    4628
2013-01-31    5558
2013-02-01    5526
2013-02-02    3036
Name: Sales, dtype: int64
Date
2013-01-29    5372
2013-01-30    6647
2013-01-31    7020
2013-02-01    6305
2013-02-02    8380
Name: Sales, dtype: int64
Date
2013-01-29    6852
2013-01-30    7952
2013-01-31    8946
2013-02-01    8740
2013-02-02    3834
Name: Sales, dtype: int64
Date
2013-01-29    4498
2013-01-30    5748
2013-01-31    5745
2013-02-01    6079
2013-02-02    8019
Name: Sales, dtype: int64
Date
2013-01-29    3161
2013-01-30    4532
2013-01-31    4444
2013-02-01    4263
2013-02-02    5439
Name: Sales, dtype: int64
Date
2013-01-29    5949
2013-01-30    6781
2013-01-31    7608
2013-02-01    6928
2013-02-02    7828
Name: Sales, dtype: int64
Date
2013-01-29    2099
2013-01-30    1983
2013-01-31    2619
2013-02-01    2498
2013-02-02    4429
Name: Sales, dtype: int64
Date
2013-01-29    4441
2013-01-30    4229
2013-01-31    5761
2013-02-01    6907
2013-02-02    3798
Name: Sales, dtype: int64
Date
2013-01-29    5192
2013-01-30    5015
2013-01-31    5529
2013-02-01    6072
2013-02-02    2288
Name: Sales, dtype: int64
Date
2013-01-29    3733
2013-01-30    3985
2013-01-31    5242
2013-02-01    5838
2013-02-02    2856
Name: Sales, dtype: int64
Date
2013-01-29    5429
2013-01-30    5522
2013-01-31    6591
2013-02-01    7066
2013-02-02    8214
Name: Sales, dtype: int64
Date
2013-01-29    3416
2013-01-30    4342
2013-01-31    4211
2013-02-01    5195
2013-02-02    3822
Name: Sales, dtype: int64
Date
2013-01-29    2814
2013-01-30    3081
2013-01-31    4102
2013-02-01    4588
2013-02-02    5071
Name: Sales, dtype: int64
Date
2013-01-29    5346
2013-01-30    5589
2013-01-31    8274
2013-02-01    7807
2013-02-02    7904
Name: Sales, dtype: int64
Date
2013-01-29    6321
2013-01-30    5851
2013-01-31    8631
2013-02-01    7373
2013-02-02    7696
Name: Sales, dtype: int64
Date
2013-01-29    4536
2013-01-30    5420
2013-01-31    5968
2013-02-01    5623
2013-02-02    4456
Name: Sales, dtype: int64
Date
2013-01-29    4697
2013-01-30    5172
2013-01-31    5436
2013-02-01    5460
2013-02-02    4243
Name: Sales, dtype: int64
Date
2013-01-29     9584
2013-01-30    10078
2013-01-31    13854
2013-02-01    13361
2013-02-02     9984
Name: Sales, dtype: int64
Date
2013-01-29    3925
2013-01-30    3676
2013-01-31    5304
2013-02-01    6198
2013-02-02    4923
Name: Sales, dtype: int64
Date
2013-01-29     4986
2013-01-30     5526
2013-01-31     6252
2013-02-01     8073
2013-02-02    11030
Name: Sales, dtype: int64
Date
2013-01-29     7206
2013-01-30     8162
2013-01-31     8640
2013-02-01     9878
2013-02-02    11505
Name: Sales, dtype: int64
Date
2013-01-29    4848
2013-01-30    5963
2013-01-31    7800
2013-02-01    7965
2013-02-02    7206
Name: Sales, dtype: int64
Date
2013-01-29    3296
2013-01-30    3674
2013-01-31    4530
2013-02-01    4376
2013-02-02    2380
Name: Sales, dtype: int64
Date
2013-01-29    4810
2013-01-30    6685
2013-01-31    8695
2013-02-01    8157
2013-02-02    7993
Name: Sales, dtype: int64
Date
2013-01-29    4661

In [17]:
# ============================================================
# 9. AGGREGATE METRICS + FORECASTS
# ============================================================
metrics_rows = []
forecast_list = []

for store_id, metrics, fc in results:
    if metrics is None:
        continue

    m = metrics.copy()
    m["Store"] = store_id
    metrics_rows.append(m)

    f = fc.copy()
    f["Store"] = store_id
    forecast_list.append(f)

df_metrics = pd.DataFrame(metrics_rows).set_index("Store").sort_index()

df_forecasts = (
    pd.concat(forecast_list)
      .reset_index()
      .rename(columns={"index": "Date"})
      .sort_values(["Store", "Date"])
)

df_metrics.to_csv("xgb_store_metrics.csv")
df_forecasts.to_csv("xgb_store_forecasts.csv", index=False)

print("Done")

Done

In [19]:
# Load forecast-level data
df_forecast = pd.read_csv("xgb_store_forecasts.csv")   # Date, y_true, y_pred, Store

# Drop rows with missing actuals if any
df_forecast = df_forecast.dropna(subset=["y_true", "y_pred"])

# ---------- 1) Aggregated WAPE ----------
# WAPE_org = sum_i |y_hat_i - y_i| / sum_i |y_i|
df_forecast["abs_err"] = (df_forecast["y_pred"] - df_forecast["y_true"]).abs()
wape_org = df_forecast["abs_err"].sum() / df_forecast["y_true"].abs().sum()

# ---------- 2) Aggregated weighted MAPE ----------
# Weighted MAPE_org with weights proportional to actuals:
# w_i = y_i / sum_j y_j  →  wMAPE = sum_i w_i * |err_i|/|y_i|
# This simplifies to the same formula as WAPE but on relative errors:
mask = df_forecast["y_true"] != 0
g = df_forecast[mask].copy()

weights = g["y_true"].abs() / g["y_true"].abs().sum()
rel_err = (g["y_pred"] - g["y_true"]).abs() / g["y_true"].abs()
weighted_mape_org = (weights * rel_err).sum()

print("Aggregated WAPE:", wape_org)
print("Aggregated weighted MAPE:", weighted_mape_org)

Aggregated WAPE: 0.08736437246335264
Aggregated weighted MAPE: 0.0860964998323813